---
layout: default
---
<div class="container">

  {% for post in paginator.posts %}
    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    <p>{{ post.excerpt | strip_html }}</p>
  {% endfor %}
</div>

  <div class="text-center">
    {% if paginator.previous_page %}
      <a class="btn btn-default" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}
      <span>{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a class="btn btn-default" href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next</a>
    {% endif %}
  </div>

