<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#mynavbar-content">
	     <span class="icon-bar"></span>
	     <span class="icon-bar"></span>
	     <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
        {{ site.title }}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="mynavbar-content">
      <ul class="nav navbar-nav">
        <li><a href="{{ "/en/about/" | prepend: site.baseurl }}">About</a></li>
        <li><a href="{{ "/tags/english/index.html" | prepend: site.baseurl }}">English</a></li>
      </ul>
    </div>
  </div>
</div>
