<header>
  <div class="page-header">
    <h1>{{ page.title }}</h1>
  </div>
  <p class="text-right">{{ page.date | date: "%b %-d, %Y" }} by <a href="https://scholar.google.fr/citations?user=Gs_ABawAAAAJ">Katsutoshi Seki</a>{% if page.meta %} • {{ page.meta }}{% endif %}<br />
Tags:
{% capture tags %}
{% for tag in page.tags %}
  {{ tag }}
{% endfor %}
{% endcapture %}
{% assign eachtag = tags | split:' ' %}

{% for tag in eachtag %}
  <a href="/tags/{{ tag }}/index.html">{{ tag }}</a>
{% endfor %}
  </p>
</header>
