<header>
  <div class="page-header">
    <h1>{{ page.title }}</h1>
  </div>
  <p class="text-right">著者：{{ site.author }}<br />
公開日：{{ page.date | date: "%Y年%-m月%-d日" }}{% if page.update %} - <a href="https://github.com/sekika/sekika.github.io/commits/master/{{ page.path }}">最終更新日</a>：{{ page.update | date: "%Y年%-m月%-d日" }}{% endif %}<br />
キーワード：
{% capture tags %}
{% for tag in page.tags %}
  {{ tag }}
{% endfor %}
{% endcapture %}
{% assign eachtag = tags | split:' ' %}

{% for tag in eachtag %}
  <a href="/tags/{{ tag }}/index.html">{{ tag }}</a>
{% endfor %}
  </p>
</header>
