---
layout: default
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
  <header>
    <div class="page-header">
      <h1>{{ page.title }}</h1>
    </div>
    <p class="text-right">著者：<a href="http://www.amazon.co.jp/-/e/B00ADGVC1W">関 勝寿</a><br />
公開日：{{ page.date | date: "%Y年%-m月%-d日" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}<br />
    タグ：
{% capture tags %}
  {% for tag in page.tags %}
    {{ tag }}
  {% endfor %}
{% endcapture %}
{% assign eachtag = tags | split:' ' %}

{% for tag in eachtag %}
  <a href="/tags/{{ tag }}/index.html">{{ tag }}</a>
{% endfor %}

    </p>
  </header>

  <article>
    {{ content }}
  </article>

<hr>

<ul class="snsb">
<li>この記事をシェアする (Share) </li>
<!-- Twitter -->
<li><a href="http://twitter.com/share" data-via="seki" title="Share on Twitter" target="_blank" class="twitter-share-button"><i class="fa fa-twitter"></i> Twitter</a></li>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

 <!-- Facebook -->
<li><div class="fb-like" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div></li>

<!-- Google+ --- -->
<li><div class="g-plusone" data-annotation="inline" data-width="300"></div></li>

<script type="text/javascript">
  window.___gcfg = {lang: 'ja'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</ul>

</div>
