---
layout: default
---

<div class="container">
<h1>{{ page.tag | capitalize }} に関するページの一覧</h1>

{% if page.description-html %}
  <p>{{page.description-html}}</p>
{% elsif page.description %}
  <p>{{page.description}}</p>
{% endif %}
{% if page.related %}<p>関連キーワード：
{% capture related %}{% for related in page.related %}{{ related }}{% endfor %}{% endcapture %}
{% assign rel = related | split:' ' %}
{% for tag in rel %} <a href="/tags/{{ tag }}/index.html">{{ tag }}</a>{% endfor %}
</p>{% endif %}

<ul>
{% for post in site.tags[page.tag] %}
  <li>
    {{ post.date | date: "%Y年%-m月%-d日" }}: <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ul>
</div>
